dt {
  font-weight: bold;
  margin-top: 20px;
}

#id-name {
  display:none;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 5px 20px;
  cursor:pointer;
}

#click-fadeIn {
  display: none;
}
