@charset "UTF-8";
body {
  margin: 0;
}

/* headerを含む画面上部の領域を固定 */
.fixed-area {
  box-sizing: border-box;
  position: fixed;
  top:0;
  left:50%;
  transform: translateX(-50%);
  background: #fff;
  width: 100%;
  padding: 0 4%;
}  

header {
  /* background: pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}  

nav {
  width:60%;
}

nav ul {
  /* background:olive; */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav li {
  padding-left: 8px;
}

a:hover {
  opacity: .7;
}
.contents-wrapper {
  padding: 100px 4% 0;
}

/* #reference ************************************* */
#reference {
  min-height: calc( 100vh - 100px );
}


.index dt {
  font-weight: bold;
  margin: 20px 0 10px;
}

#id-name {
  display:none;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 5px 20px;
  cursor:pointer;
  box-shadow: 0px 5px #ccc;
}

/* 戻るボタン */
.retern {
  background: green;
  color: #fff;
  padding: 5px 10px;
  position: fixed;
  bottom: 16px;
  left: 16px;
}

.retern:hover {
  opacity: .7;
}

.btn:hover {
  opacity: .7;
}

.btn:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}


#click-fadeIn {
  display: none;
}

/* jquery-sample.html */

.section-wrapper {
  width: 80%;
  margin: 0 auto 100px;
}

.onsen-header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-nav-warapper {
  display: flex;
  align-items: center;
}

.onsen-header ul {
  display: flex;
}

.onsen-header li {
  list-style: none;
  padding-left:20px;
}

.onsen-header .btn {
  height :28px;
}

/*モーダル見本コード*/
/* 
.login-modal-wrapper, .signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}
*/

#modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;/* 重なり順を一番上へ */
  display: none;
}

#reserve-modal{
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  width: 450px;
  height: auto;
}

/* モーダルを閉じるボタン */
#close {
  width: 70px;
  padding: 5px;
  margin-left: auto;
  background: #fff;
  border: 1px solid #000;
  cursor:pointer;
}

/* .main-visual */

.main-visual {
  width: 100%;
  margin: 0 auto 100px;
  color: #ccc;
  position: relative;
}


/* スライド */
.pn-btns, .slides, #index {
  list-style: none;
  padding: 0;
}

.change-btn, .index-btn {
  cursor: pointer;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.pn-btns {
  width: 80%;
  margin: 0 auto;
  /* ↓この記述では、.prev-btn非表示のとき、next-btnが左によてしまう。 */
  /* display: flex;
  justify-content: space-between; */
  padding: 0;
  color: #000;
}

.pn-btns:hover {
  opacity: .7;
}

.prev-btn {
  float: left;
  display: none;
}


.next-btn {
  float:right;
}

.slide img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

#index {
  display: flex;
  justify-content: center;
}

.index-btn {
  margin: 0 32px;
  color: #000;
}

.active-index-btn {
  color: blue;
}

.index-btn:hover {
  opacity: .7;
}

/* .site-desc */
.site-desc {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 16px;
}



/* .site-desc ol {
  background: green;
} */

/* feature */

.feature {
  /* background: blue; */
  height: 400px;
}

.feature ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.feature h2 {
  text-align: center;
}

.feature li {
  list-style: none;
  width: 30%;
}

.feature img {
  width: 100%;
}

.feature-desc {
  display: none;
}

.desc-active {
  display: block;
}

/* .faq */


.faq-list-item {
  position: relative;
  list-style: none;
}

.question {
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
}

.faq span {
  position: absolute;
  top: 0;
  right: 5px;
}

.answer {
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
  display: none;
}

/* .open {
  display:block;
} */

/* **************************************
tab-menu.html
************************************** */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.tab {
  border-bottom: 3px solid green;
  width: 40%;
}
.tab li {
  color: #333;
  float: left;
  margin: 0 10px -1px 0;
  padding: 10px 20px;
  border: 1px solid green;
  cursor: pointer;
  list-style: none;
  transition: .3s;
}

.tab li.active-tab {
  color: #fff;
  background: green;
  cursor: auto;
}
 
.area ul {
  display: none;
}
.area ul.show {
  display: block;
}

