* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* outline:2px solid red; */
}
/* ::before , ::after {
	box-sizing: inherit;
} */

html {
	font-size: 100%;
}

header {
	/* background: skyblue; */
	background: #fff;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	/* height: 100px; */
	display: flex;
	padding: 16px;
	justify-content: space-between;
	align-items: center;
}

.title-nav-wrapper {
	/* background: yellow; */
	display: flex;
	/* width: 40%; */
	/* justify-content: space-between; */
	align-items: center;
}

nav {
	margin-left: 64px;
}

.title-nav-wrapper h1 {
	font-size: 2rem;
	line-height: 48px;
}

.btn {
	display: none;
}

#contact-btn {
	background: green;
	color: #fff;
	width:90px;
	text-align: center;
	line-height: 48px;
	margin-left: 16px;
}

.wrapper {
	padding-top: 128px;
	padding: 128px 16px 32px;
}

.wrapper h2 {
	padding-bottom: 32px;
}

.wrapper p {
	padding-bottom: 64px;
}


/* 600px以上はハンバーガーボタン非表示、ヘッダー固定 */
/* .btn {
	display: none;
} */
.menu {
	transition: .3s;
	display: flex;
}

.menu-list {
	/* メニューテキスト位置をリスト内中心に */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding-left: 16px;
}



/**************** 以下、ハンバーガーボタンのスタイリング ****************/
@media screen and (max-width: 600px) {

	/* .menu {
		display: flex;
		position: fixed;
		background-color: rgba(255, 255, 255, .5);
		color: #efefef;	
	} */


	.btn-wrapper {
		display: flex;
		align-items: center;
		position: fixed;
		/* top: 32px; */
		top: 16px;
		right: 16px;
		/* 最前面に */
		z-index: 10;
	}

	button {
		margin: 0;
		padding: 0;
		outline: 0;
		border: 0;
		border-radius: 0;
		background: transparent;
		color: inherit;
		vertical-align: middle;
		text-align: inherit;
		font: inherit;
		-webkit-appearance: none;
		appearance: none;
	}
	
	.btn {
		/* ボタンの配置位置  */
		/* ボタンの大きさ  */
		display: block;
		width: 48px;
		height: 48px;
		order: 2;
		margin-left: 16px;
	}
	/***** 真ん中のバーガー線 *****/
	.btn-line {
		display: block;
		/* バーガー線の位置基準として設定 */
		position: relative;
		/* 線の長さと高さ */
		width: 100%;
		height: 4px;
		/* バーガー線の色 */
		background-color: #d6d5d5;
		transition: .2s;
	}
	/***** 上下のバーガー線 *****/
	.btn-line::before , .btn-line::after {
		content: "";
		/* 基準線と同じ大きさと色 */
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #d6d5d5;
		transition: .5s;
	}
	.btn-line::before {
		/* 上の線の位置 */
		transform: translateY(-16px);
	}
	.btn-line::after {
		/* 下の線の位置 */
		transform: translateY(16px);
	}

	/***** メニューオープン時 *****/
	.btn-line.open {
		/* 真ん中の線を透明に */
		background-color: transparent;
	}
	.btn-line.open::before , .btn-line.open::after {
		content: "";
		background-color: #333;
		transition: .2s;
	}
	.btn-line.open::before {
		/* 上の線を傾ける */
		transform: rotate(45deg);
	}
	.btn-line.open::after {
		/* 上の線を傾ける */
		transform: rotate(-45deg);
	}
	/**************** ここまで、ハンバーガーボタンのスタイリング ****************/
	
	/**************** 以下、メニューのスタイリング ****************/
	.menu {
		/* メニューを縦に */
		display: flex;
		flex-direction: column;
		position: fixed;
		/* メニューの位置マイナス指定で画面外に */
		right: -70%;
		width: 70%;
		height: calc( 100vh - 80px);
		/* background-color: rgba(167, 148, 58, .7); */
		background-color: rgba(0, 0, 0, .7);
		color: #efefef;
		transition: .3s;
	}

	.menu a {
		color:#fff;
	}
	
	/***** メニューオープン時位置0にして画面内に *****/
	.menu.open {
		position: absolute;
		right: 0;
		top: 80px;
	}
	
	.menu-list:hover {
		background-color: rgba(255, 255, 255, .5);
		cursor: pointer;
		transition: .3s;
	}	
	
/**************** ここまで、メニューのスタイリング ****************/